
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient Data</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GenoTech</a>
    </nav>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Edit Patient Data</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/update" class="edit-form">
                    <input type="hidden" name="_id" value="<%=PatientsData._id%>" />

                    <div class="form-group row">
                        <label for="creatorId" class="col-sm-3 col-form-label">Creator ID:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="creatorId" name="creatorId"
                                value="<%=PatientsData.creatorId%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Creator Name:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="creatorName" name="creatorName"
                                value="<%=PatientsData.creatorName%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">First Name:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="firstName" name="firstName"
                                value="<%=PatientsData.firstName%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Last Name:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="lastName" name="lastName"
                                value="<%=PatientsData.lastName%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Birth Date:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="birthDate" name="birthDate"
                                value="<%=PatientsData.birthDate%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Zip Code:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="zipCode" name="zipCode"
                                value="<%=PatientsData.zipCode%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">State:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="state" name="state"
                                value="<%=PatientsData.state%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Phone Number:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                value="<%=PatientsData.phoneNumber%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Create Date:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="createDate" name="createDate"
                                value="<%=PatientsData.createDate%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Insurance Type:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="insuranceType" name="insuranceType"
                                value="<%=PatientsData.insuranceType%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Test Type:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="testType" name="testType"
                                value="<%=PatientsData.testType%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Doctor Service:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="doctorService" name="doctorService"
                                value="<%=PatientsData.doctorService%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creatorName" class="col-sm-3 col-form-label">Lab Name:</label>
                        <div class="col-sm-9">
                            <input required type="text" class="form-control" id="labName" name="labName"
                                value="<%=PatientsData.labName%>" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="status" class="col-sm-3 col-form-label">Patient Status:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="status" name="status">
                                <option <%= PatientsData.status === 'Good' ? 'selected' : '' %>>Good</option>
                                <option <%= PatientsData.status === 'Critical' ? 'selected' : '' %>>Critical</option>
                                <option <%= PatientsData.status === 'Stable' ? 'selected' : '' %>>Stable</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">Save Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-z9z2iiAk7Gg/duGagFtRt8OzK9tG9dpLbUwLMAZ41B0ibnpMChEdqpl3O2nJM6eB" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRD9PJjpoXF9haTc2x0L+szYg8s5v9pa4lsv5YrTv" crossorigin="anonymous"></script>
</body>

</html>
