<!DOCTYPE html>
<html>
  <%- include ../partials/head %>

  <body>
    <% include ../partials/navbar %>

    
      <h1>Create Patient</h1>
     
      <form method="post" action="/Patients/create">
        <input type="text" name="creatorId" placeholder="CreatorId"/>
        <input type="text" name="creatorName" placeholder="CreatorName"/>
        <input type="text" name="firstName" placeholder="FirstName"/>
        <input type="text" name="lastName" placeholder="LastName"/>
        <input type="text" name="birthDate" placeholder="BirthDate"/>
        <input type="text" name="zipCode" placeholder="ZipCode"/>
        <input type="text" name="state" placeholder="State"/>
        <input type="text" name="phoneNumber" placeholder="PhoneNumber"/>
        <input type="text" name="createDate" placeholder="CreateDate"/>
        <input type="text" name="insuranceType" placeholder="InsuranceType"/>
        <input type="text" name="testType" placeholder="TestType"/>
        <input type="text" name="doctorService" placeholder="DoctorService"/>
        <input type="text" name="labName" placeholder="LabName"/>
        
        <select name="status">
          <option>Good</option>
          <option>Critical</option>
          <option>Stable</option>
        </select>
        <input type="submit" value="Add Patient"/>
      </form>


      <br>
      <hr>
      <h2>List of Patients</h2>
      <table id="birdTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>CreatorId</th>
            <th>CreatorName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>
            <th>ZipCode</th>
            <th>State</th>
            <th>PhoneNumber</th>
            <th>CreateDate</th>
            <th>InsuranceType</th>
            <th>TestType</th>
            <th>DoctorService</th>
            <th>LabName</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% for (let i = 0; i < birdData.length; i++) { %>
          <tr>
            <td><%= birdData[i].creatorId %></td>
            <td><%=birdData[i].creatorName %></td>
            <td><%=birdData[i].firstName %></td>
            <td><%=birdData[i].lastName %></td>
            <td><%=birdData[i].birthDate %></td>
            <td><%=birdData[i].zipCode %></td>
            <td><%=birdData[i].state %></td>
            <td><%=birdData[i].phoneNumber %></td>
            <td><%=birdData[i].createDate %></td>
            <td><%=birdData[i].insuranceType %></td>
            <td><%=birdData[i].testType %></td>
            <td><%=birdData[i].doctorService %></td>
            <td><%=birdData[i].labName %></td>
            <td><%=birdData[i].status%></td>
            <td>
              <a href="/Patients/update?_id=<%=birdData[i]._id%>">Edit</a> | 
              <a href="/Patients/delete?_id=<%=birdData[i]._id%>" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
          </tr>
        <% } %>
      </table>
   
    <% include ../partials/scripts %>

    <script>
        $(document).ready( function () {
          $('#birdTable').DataTable({
            responsive:true
          });
        });
    </script>
  </body>
</html>